entrypoint = "main.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full", "glibcLocales", "libxcrypt"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "./start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 34933
externalPort = 3000

[[ports]]
localPort = 39455
externalPort = 4200

[[ports]]
localPort = 42083
externalPort = 3001

[[ports]]
localPort = 42145
externalPort = 3002

[[ports]]
localPort = 45715
externalPort = 3003

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40194351
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start.sh"
